h1 {
  color: #0000ff;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
  text-align: center;
}

ul {
  font-size: 30px;
  line-height: 30px;
}